
/* Colors */
$gruen: #b5d1c0;
$hell-gruen: #c1d2c7;
$braun: #7a726f;


*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 100%;
    line-height: 1.5;
    height: 100%;
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;

    -webkit-text-size-adjust:100%; 
    -ms-text-size-adjust:100%;
}


/* Links */
a img 	{ border: none !important; }
a:focus	{ outline: none !important; }

a:link		{ color: $braun; text-decoration: none; }
a:visited 	{ color: $braun; text-decoration: none; }
a:hover 	{ color: $braun; text-decoration: none; }
a:active	{ color: $braun; text-decoration: none; }

a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}




