header h1 {
    width: 120px;
    margin: 1em auto 0 auto;
    font-size: 100%;
}
header h1 img {
    width: 120px;
}

@media all and (min-width: 579px) {     
    header h1 {
        width: 430px;
        margin-left: 5em;
        margin-top: 1em;
        position: relative;
    }
    header h1 img {
        width: 430px;
        max-width: 100%;
        transform: scale(1.25);
    }
}

@media all and (min-width: 1024px) {
   header h1 img {
        transform: scale(1.5);
        left: 100px;
        top: 30px;
        position: relative; 
    }
}
