.screen {
    position: relative;
}

@media all and (min-width: 579px) { 
    .screen {
        height: 100%
    }
    header {
        left: 0;
        right: 0;
        z-index: 50;
        position: absolute;
        top: 50px;
        height: 13.288em;
    }
    article {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
    .information {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
    .profile {
        padding-top: 13.288em;
    }

}

.information p {
    margin-bottom: 1em;
}
.information p:last-child {
    margin-bottom: 0;
}

.profile-text {
    max-width: 74.551em;
    margin: auto;
    padding: 2.369em;
}
.profile-text p {
    font-size: 1em;
}        

@media all and (min-width: 579px) { 
    .profile-text p {
        font-size: 1.333em;
    }
    .profile-text {
        padding: 5.61em;
    }
}

.contact {
    padding: 0 2.369em 2.369em 2.369em;
}
.contact .contact-left, 
.contact .contact-right {
    max-width: 67em;
    margin: auto;
}
.contact div {
    padding-bottom: 0.563em;
}
.contact span {
    display: block;
}
@media all and (min-width: 1024px) and (min-height: 600px) { 
    .profile {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
    }
    .profile-text {
        position: absolute;
        width: 100%;
        transform: translateY(-50%) translateX(-50%);
        max-width: 80em;
        top: 55%;
        left: 50%;
    }
    .profile-text p {
        padding: 0;
        text-align: center;
        font-size: 1.777em;
        margin-bottom: 2.369em;
    }
    .contact .contact-left, 
    .contact .contact-right {
        position: fixed;
        bottom: 0;
        padding: 3.157em;
    }
    .contact .contact-left {
        left: 0;
    }
    .contact .contact-right {
        right: 0;
    }
    .contact div {
        padding: 0;
    }
    .contact .contact-left div, 
    .contact .contact-right div {
        display: inline-block;
        padding-right: 0.563em;
    }
    .contact .contact-left span, 
    .contact .contact-right span {
        display: inline-block;
        padding-bottom: 0.317em;
        font-family:'Frutiger LT W01_57 Condensed';
    }
    .contact .contact-left span {
        margin-right: 0.563em;
    }
    .contact .contact-right span {
        margin-left: 0.563em;
    }

}
@media all and (min-width: 1280px) and (min-height: 600px) { 
    .profile-text p {
        font-size: 2.369em;
    }
}


