<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    
    <meta name="keywords" content="finckh, physiotherapeut, physiotherapie, orthopäde, orthopädie, microtherapie, wirbelsäulenspezialist, bandscheibenvorfall, rückenschmerzen, nürnberg, schmerztherapie, isis, giw, " />
    <meta name="description" content="Matthias Finckh – Privatpraxis für Physiotherapie und Massage, Nürnberg." />

	<title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="assets/css/pr-styles.css"/>
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/8d2cc4e6-a7f6-41e2-bed0-0b9fc6683e9f.css"/>
	
</head>
<body>

{{content}}

</body>
</html>
